# Python for Bioinformatics

Python is one of the popular programming languages available. Due to its English-like syntax, it is very easy to learn. It is used in several domains including Bioinformatics. In this tutorial, you will be introduced to Python through a series of simple tasks. \
Good luck!!!!!!!!!!!

## Let's get Started

### Displaying information on the screen.
One of things we always do in programming is displaying information on the screen.
We use the **print** function to it. Lets try with some examples.

In [ ]:
#Display the text hello world on the screen
print('Hello world')

In [ ]:
#Display the number 1
print(1)

### Assignment
This is where we assign values to a variable . We use the **equal sign(=)** to do this. Lets try with some examples.

In [ ]:
# Assign the value 20 to a variable called mynumber
mynumber=20

In [ ]:
#Print to a screeen
print(mynumber)

In [ ]:
#You can also print the value directly
print(20)

### Comments
Comments are simply lines that are not considered to be codes(or instructions to be executed). \
Comments are lines that begin with the **#**. You have earlier seen some lines beginning with **#**. Those are also coments. Below are some examples. \

In [ ]:
#Example of a comment
#print
#line

# DataTypes

Data types refer to the various ways in which data or information is stored. In this tutorial, we will look at four(4) basic data types.\
 -Integers \
 -Floats \
 -Strings \
 -Lists

## Integers
Integers are zero,positive and negative whole numbers. Lets try some examples

In [ ]:
myinteger=1
print(myinteger)

In [ ]:
myage=22
print(myage)

In [ ]:
number_of_participants=10
print(number_of_participants)

#### Exercise
1. Create and assign the integer value 30 to a variable called mynumber/
2. Use the print function to display the integer 45 on the screen.

## Floats
Floats are decimal or fractional numbers. Lets try some examples.

In [ ]:
#create your first float number
myfloat=0.2

In [ ]:
#print
print(myfloat)

In [ ]:
#another example
myfloat2=2.1
print(myfloat)

#### Exercise
1. Create 3 different variables and assign different float values to them.
2. Print the float variables on the screen using the print function

## STRINGS

A string is a sequence of characters. 
Strings are often enclosed in single('') or double("") quotes.

#### Example

In [ ]:
#create a string with the word Bioinformatics
mystring="Bioinformatics"

In [ ]:
#display/print on screen
print(mystring)

In [ ]:
#you can also print the string directly without assigning to a variable
print("Bioinformatics")

In [ ]:
#create a sequence
mydna='AGTCAGTA'

In [ ]:
#print the sequence
print(mydna)

#### Exercise
1. Create a string using your First and Last Names.
2. Display your first and Last Names using the print command.

### Change the case of strings
When changing the case of strings, we use **lower()** or **upper()** function. Lets try an example

In [ ]:
#change  Bioinformatics to lowercase
mystring="Bioinformatics"
mystring.lower()

In [ ]:
mystring2='HELLO WORLD'
mystring2.lower()

In [ ]:
'AGTCAG'.lower()

In [ ]:
#Try with a DNA sequence
DNA='atgaca'
DNA.upper()

In [ ]:
'bioinformatics'.upper()

In [ ]:
#Change the first letter to uppercase
myname='bioinformatics'
myname.capitalize()

#### Exercise
1. Convert the DNA sequence atagagagatat into an uppercase. 
2. Write a code to capitalize the name "ameenah"

### Find the length of strings/sequences
To find the length of strings we use the **len** function

In [ ]:
mystring='Hello World'
len(mystring)

In [ ]:
DNA='AGTACGA'
len(DNA)

In [ ]:
DNA="GAGTTCATCCAGATTCGTCATTGTGCACGTGATTTAAGGCGCTTCCAGTAGGCCCGAGGTTGTTGCTAGGGTGCGGCACAATCCGCTACT"

In [ ]:
len(DNA)

In [ ]:
length_of_sequence=len(DNA)

In [ ]:
print(length_of_sequence)

### Count the number of characters/substrings 
In this case, we use the function **count()** function. Lets try an example

In [ ]:
mystring='Bioinformatics'

In [ ]:
#count the number of occurence of the letter o
mystring.count('o')

In [ ]:
#try with a DNA sequence
DNA='AGTCATAGAAGG'

In [ ]:
#count the number of As
DNA.count('A')

In [ ]:
#count the number Gs
DNA.count('G')

### Exercise
You have been given the DNA sequence 'GAGACCATAGGGA'
1. How many C<sub>s</sub> are in the sequence.
2. How may T<sub>s</sub> are in the sequence.

## Arithmetic Operators
These are symbols that are used in performing mathematical operations.

| Symbol  | Meaning | Example |
| ------  | ------- | -------- |
| +       | addition |  1+1 |
| - | subtraction | 5-2 |
| / | division | 4/2  or 4//2 |
| * | multiplication | 2 *2  | 
| ** | exponent | 2^^2 |
| % | modulo | 5%2 |

## Mathematical operations

In [ ]:
#addition
value1=10
value2=5
total=value1+value2

In [ ]:
#print the total on the screen using the print function
#.........code.............here

In [ ]:
#subtraction
result=8-3

In [ ]:
#print the result on the screen
#.........code.............here

In [ ]:
#multiplication

value1=3
value2=5
product=3*5

In [ ]:
#print the product on the screen
#.........code.............here

In [ ]:
#division 1

division_result=17/2

In [ ]:
#division 2

division_result2= 17//2

### Sequence Analysis
In this section we will what we have learnt to do get some information from a DNA sequence

In [ ]:
# Create a DNA sequence
DNA='AGTACCTAAAGCCAT'

In [ ]:
#get the number of G

In [ ]:
gcount=DNA.count('G')

In [ ]:
ccount=DNA.count('C')

In [ ]:
#get GC content
gc=gcount+ccount

In [ ]:
print(gc)

In [ ]:
#get length of sequence
length=len(DNA)

In [ ]:
#get percentage GC
gc/length * 100

In [ ]:
(gc/length)*100

In [ ]:
percentage_gc=(gc/length)*100

In [ ]:
print(percentage_gc)

In [ ]:
print('Percentage GC is ',percentage_gc)

### Exercise
Consider the DNA sequence, AGTTAGCTAGGAGGTTAGGGACC*
1. How many nucleotides are present?
2. Calculate the percentage GC in the sequence.
3. How many purines are present?
4. How many pyrimidines are present?
5. Calculate the percentage of purines in the sequence

### Combine strings/sequences

There are multiple ways to combine strings. In this tutorial we will use two approaches.

In [ ]:
#appproach1: use the '+' symbol in between the strings to be combined

DNA1='AGT'
DNA2='TTA'

In [ ]:
combined=DNA1+DNA2

In [ ]:
print(combined)

In [ ]:
firstname='Bioinformatics'
secondname='Coach'
fullname=firstname+secondname

In [ ]:
print(fullname)

In [ ]:
fullname=firstname+ ' ' +secondname

In [ ]:
print(fullname)

In [ ]:

#approach 2: string formatting

In [ ]:
firstname='Bioinformatics'
secondname='Coach'

In [ ]:
fullname='{} {}'.format(firstname,secondname)

In [ ]:
print(fullname)

### Indexing and Slicing

-This is used to access substrings / characters/nucleotides by specifying an **index** or a range of indexes(**start and end**) and in some cases a **step or stride** value.

**Syntax**\
S[m,n,s]\
**-S**:string/sequence\
**-m**:start\
**-n**:end\
**-s**:step/stride

In [ ]:
DNA='AGAGTAGAAGA'

In [ ]:
DNA[2]

In [ ]:
DNA[3]

In [ ]:
string1='Hello'

In [ ]:
string1[2]

In [ ]:
DNA='AGAGTAGAAGA'

In [ ]:
DNA[2:6]

In [ ]:
DNA[1:4]

In [ ]:
DNA='AGAGTAGAAGA'

In [ ]:
DNA[0:9:3]

#### Short-hand indexing


 This is done by omitting either the first and or last index.\
 **S[:n]** starts the slice from the beginning of the 
   sequence to the index just before n.\
 **S[m:]** starts slice from index m to the end of the 
   sequence.\
 **S[:]** returns a copy of the entire string/sequence\
 **S[::-1]** returns reverse of the entire string/sequence

In [ ]:
DNA='AGAGTAGAAGT'

In [ ]:
DNA[:5]

In [ ]:
DNA[5:]

In [ ]:
DNA[:]

In [ ]:
DNA[::-1]

In [ ]:
DNA

In [ ]:
DNA[::-1]

### More string manipulations ###

| Function|Action 
| :--- |:---     
|string.find('a')|	  Find the first position where 'a' occurs in the string
|string.count('s')|	  Counts how many 's' characters are in the string
|string.lower()|	  Copy of string with all characters converted to upper case
|string.upper() |	  Copy of string with all characters converted to upper case
|string.isdigit()|	  Checks if string contains only digits. Returns True or False
|string.isalpha()|	  Checks if string contains only alphabets. Returns True or False
|string.alnum()	|  Checks if the string contains alphanumeric characters only. Returns True or False
|string.strip()	|   Strips a character from both sides of the string
|string.split()	|   Splits the string into a list of substrings
|string.replace('s','t')|	   Replaces all 's' in the string with 't'
|string.join(list)|	   Joins all members of list into a single striing object

### Exercise 
Consider the dna sequence, AGTTAGCTAGGAGGTTAGGGACC
1. Which nucleotide is in the 10 th position?
2. Write the sequences that are present in position 3 to position 9
3. What command will you use to find which nucleotides are present from position 10-20 to the end.

# Lists

-Lists are linear collection of items.\
-Lists are created by putting items inside a square bracket [ ]. \
eg. ['A','G','T','C']  or [1,2,3]. \
-Individual items are separated by commas.\
-Lists can contain objects of different datatypes including lists.
eg. [1, 'A', 3.2]   or [[1,2],['A','T']]. \
-Items in a list are accessed using indexing.\
-A list is mutable, meaning its content can be changed.\
-New items are added to the tail (end of the list).\
-Iterations can be performed on lists.\
-If all items in a list are strings, then the entire list can be converted 
 to a single string object.

In [ ]:
#create a list with initial values
mylist=[1,2,3]

print(mylist)

In [ ]:
#create a list with the 4 nucleotide bases
bases=['A','T','G','C']

In [ ]:
#a list of sequences
sequences=['AGAGTTA','GAGA','AGGGA']

### Exercise
Create a list that contains at least three names.\
Create a list that contains at least three bioinformatics software.

### Find the number of items in a list.
This is done using the **len** function

In [ ]:
#example
bases=['A','T','C','G']
length=len(bases)
print(length)

In [ ]:
#create  your own list and find the number of items in it.

### Adding items to a list
This is done using the **append** method

In [ ]:
#Lets create an empty list to store a list of countries
countries=[]

In [ ]:
#Lets add some items. eg. Tanzania
countries.append("Tanzania")

#### Exercise.
Add three more countries to the list you created. \
Display the list on the screen.

### Check for the presence of items in a List
We use the **in** keyword. \
True is returned if the item is present. Otherwise False is returned.

In [ ]:
#Lets Check of the country "Ghana" is in the list we created.
countries=["Morocco","Togo","Rwanda"]
"Ghana" in countries

### Convert a list to a string
We use the **string.join** method.

In [ ]:
#lets take a look at this list
bases=['A','G','T','C']

In [ ]:
#convert to a string
"".join(bases)

In [ ]:
#try this list
nucleotides=['G','C','C','T','T','C','A','C','A']
#---------code.......................

### Counting the number of occurences of an item
We use the **count** method.

In [ ]:
#create a list of genes
genes=["mecA","aadD","blaZ","fosD","mecA","fosD","fosD","mecA"]

In [ ]:
#lets count the number of times mecA appears in the list
genes.count('mecA')

#### Exercise
Using the gene list created,
1. Check if the list contains a gene called "aac"
2. How many time does the gene "blaZ" occur?

### Accessing items in a list (Indexing and slicing)
-This is done by using indexing and slicing.It is similar to indexing in strings\
-To access an item or items we specify an **index** or a range of indexes(**start and end**) and in some cases a **step or stride** value.

**Syntax**\
L[m,n,s]\
**-L**:List\
**-m**:start\
**-n**:end\
**-s**:step/stride

In [ ]:
#take a look at this list
codons=['AAA','UUC','CCA','CAC']

In [ ]:
#get the 2nd codon
codons[1]

#### Negative indexing.
This is similar to the one we covered for strings.

#### Short-hand indexing
This is similar to the one we covered for strings.

### Sorting a list
We use the **sort** method

In [ ]:

#sorting in ascending order
numbers=[2,1,30,6]
numbers.sort()

In [ ]:
print(numbers)

In [ ]:
#you can also use the sorted function
mynumbers=[9,7,2,10]
sorted(mynumbers)

In [ ]:
#descending order

numbers=[2,1,30,6]
numbers.sort()
numbers[::-1]

In [ ]:
#or using the sorted function
numbers=[2,1,30,6]
sorted(numbers,reverse=True)

### Delete items from a list.
There are two ways.
1. First approach is to use **del**. This requires you to specify the index of the item.
2. Second approach is to use the **remove** method. This requires you to specify the exact item.

In [ ]:
#approach 1

mylist=['gene1','gene2','gene3','gene4']

#to remove gene2, we say
del mylist[1]

In [ ]:
#approach 2
countries=['Ghana','Togo','Zambia','Zimbabwe']

#to remove Togo we have to say
countries.remove('Togo')